<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header'); %>
</head>
<body class="container">

    <main>
      Authenticated Successfully!<br>
      Welcome <%= profile.first_name %> <%= profile.last_name %>
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

</body>
</html>