<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header'); %>
</head>
<body class="container">

    <main>
    <form action="/login" method="get">  
        <button type="submit">Login</button> 
    </form>     
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

</body>
</html>